<aside class="sidebar" id="sidebar">

    <div class="sidebar-header">
        <span class="menu-title">Menu</span>

        <button class="toggle-btn" id="toggleBtn">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>

    <ul class="menu-list">
        <li>
            <a href="#" class="active">
                <span class="full-text">Laporan</span>
                <span class="initial">L</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="full-text">Instruksi</span>
                <span class="initial">I</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="full-text">Message</span>
                <span class="initial">M</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="full-text">Tambah Akun</span>
                <span class="initial">T</span>
            </a>
        </li>
    </ul>

</aside>