<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chattime - Petugas Monitoring</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='petugas_pencatatan/css/chatting.css') }}">
</head>

<body>

    <div class="container-layout">

        <div class="sidebar">
            <h3>Petugas Monitoring</h3>
            <button>Lapor Barang Masuk</button>
            <button>Info Barang Dibeli</button>
            <button>Lapor Barang Keluar</button>
            <button>Pesan / Chatting</button>
            <button>Logout</button>

        </div>

        <div class="content">
            <div class="navbar-mobile">
                <div class="navbar-title">
                    Petugas Monitoring
                </div>
                <div onclick="toggleMenu()" class="menu-button">
                    ☰
                </div>

            </div>

            <div id="mobileMenu" class="mobile-menu">
                <button>Lapor Barang Masuk</button>
                <button>Info Barang Dibeli</button>
                <button>Lapor Barang Keluar</button>
                <button>Pesan / Chatting</button>
                <button>Logout</button>
            </div>

            <div class="chat-card">

                <div class="chat-header">
                    Chattime
                </div>

                <div class="chat-list">

                    <div class="chat-item"
                        onclick="window.location.href='kepalaGudang.html'">

                        <span>Kepala Gudang</span>

                        <span class="arrow">➜</span>

                    </div>

                    <div class="chat-item"
                        onclick="window.location.href='petugasMonitoring.html'">

                        <span>Petugas Monitoring</span>

                        <span class="arrow">➜</span>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <script src="{{ url_for('static', filename='petugas_pencatatan/js/chatting.js') }}"></script>

</body>

</html>